body {
  text-align: center;
  padding: 3rem;
}

form {
  text-align: left;
  width: fit-content;
  padding: 1rem;
  margin: auto;
  background-color: #f7f7f7;
}
table {
  width: 100%;
}
tr,
th {
  border: 1px solid #000;
}
